.popup-wrapper {
  width: 316px;
  font-family: Inter;
  border: 1px solid #dddddd;
  background-color: lightgrey;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 160px;
  height: 45px;
}

.followers-input {
  box-sizing: border-box;
  margin-top: 15px;
  padding: 8px 5px;
  border-radius: 4px;
  border: none;
  width: 100%;
}

.btn {
  color: #ffffff;
  padding: 10px 0;
  width: 100%;
  border-radius: 4px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-start-scraper {
  background-color: #e3242b;
}